body{
    background: #000;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}
.wrapper{
    width: 500px;
    display: flex;
    margin: 20px auto;
    color: #000;
    background: #fff;
    border-radius: 5px;
    flex-direction: column;
}

.top-bar{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.text-wrapper{
    padding: 5px 20px;
}
.title-text{
    display: flex;
    flex-direction: column;

}
.desc{
    font-weight: 700;
    font-size: 15px;
}
.count{
    color: #b2b2b2;
    margin-left: auto;
}
img{
    width: 100%;
}
.img-wrapper{
    overflow: hidden;
    max-height: 470px;
}