body{
    background: #000;
    font-family: Roboto, sans-serif;
}
.wrapper{
    width: 500px;
    display: flex;
    margin: 20px auto;
    color: #000;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    flex-direction: column;
}

.top-bar{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.title-text{
    display: flex;
    flex-direction: column;
}
.title{
    font-weight: 700;
}
.count{
    color: #b2b2b2;
    margin-left: auto;
}